<div class="container">
  <app-children [nombre]="nombre" [dni]="dni" [estadoCivil]="estadoCivil"></app-children>
  <form>
    <label for="nombre">
      <b>Nombre:</b>
      <input type="text" name="nombre" #name>
    </label>
    <label for="dni">
      <b>DNI:</b>
      <input type="text" name="dni" #dni>
    </label>
    <label for="estado-civil">
      <b>Estado Civil:</b>
      <input type="text" name="estado-civil" #civilState>
    </label>
    <button class="btn btn-success" (click)="process(name,dni,civilState)">Enviar</button>
  </form>
</div>