<div class="container">

  <form class="d-flex flex-column rounded border p-5 mt-5 gap-3 w-50 m-auto">
    <h1 class="text-primary">Registro de Personas</h1>
    <app-children [nombre]="nombrePadre" [dni]="dniPadre" [estadoCivil]="estadoCivilPadre" [resultHijo]="resultPadre">
    </app-children>
    <label class="d-flex flex-column" for="nombre">
      <b>Nombre:</b>
      <input class="form-control" type="text" name="nombre" #name>
    </label>
    <label class="d-flex flex-column" for="dni">
      <b>DNI:</b>
      <input class="form-control" type="text" name="dni" #dni>
    </label>
    <label class="d-flex flex-column" for="estado-civil">
      <b>Estado Civil:</b>
      <select name="civilState" id="civilState" #civilState class="form-control">
        <option value="Soltero">Soltero</option>
        <option value="casado">Casado</option>
      </select>
    </label>
    <button class="btn btn-success d-block m-auto" (click)="process(name,dni,civilState)">Enviar</button>
  </form>
</div>